apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: replicator-data
  namespace: elementary-analytics
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard  # Измените на ваш StorageClass если нужно

